<ion-content [fullscreen]="true">
  <!-------------------------------------------------------------------->
  <!-- MENU ------------------------------------------------------------>
  <!-------------------------------------------------------------------->
  <ion-menu contentId="filter-menu">
    <ion-header collapse="condense" style="margin-bottom: 10px;">
      <ion-toolbar>
        <ion-title>Filtros</ion-title>
        <ion-menu-toggle slot="start">
          <ion-icon name="arrow-back" color="primary" aria-label="Back"></ion-icon>
        </ion-menu-toggle>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item lines="full">
          <ion-select label="Marca"
          placeholder="Selecciona una marca"
          (ionChange)="brandFilter($event)"
          style="padding: 20px 0;">
            <ion-select-option *ngFor="let brand of brands" value="{{brand}}">{{brand}}</ion-select-option>
            <ion-select-option value="all">Todas</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="full">
          <ion-select label="Ordenar"
          placeholder="Selecciona una opción"
          (ionChange)="orderFilter($event)"
          style="padding: 20px 0;">
            <ion-select-option value="relevance">Relevancia</ion-select-option>
            <ion-select-option value="new">Nuevo primero</ion-select-option>
            <ion-select-option value="old">Más antiguo primero</ion-select-option>
            <ion-select-option value="priceHigh">Precio mayor</ion-select-option>
            <ion-select-option value="priceLow">Precio menor</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item lines="full">
          <ion-select label="Año"
          placeholder="Selecciona un año"
          (ionChange)="yearFilter($event)"
          style="padding: 20px 0;">
            <ion-select-option *ngFor="let year of years" value="{{year}}">{{year}}</ion-select-option>
            <ion-select-option value="any">Todos los años</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer>
      <ion-menu-toggle (click)="getBikesFiltred()">
        <ion-button expand="block" shape="round" class="filterAply" id="loading-filters">Aplicar filtros</ion-button>
      </ion-menu-toggle>
      <ion-loading trigger="loading-filters" message="cargando..." duration="500" spinner="lines-sharp" translucent="true"></ion-loading>
    </ion-footer>
  </ion-menu>

  <!-------------------------------------------------------------------->
  <!-- HEADER ---------------------------------------------------------->
  <!-------------------------------------------------------------------->
  <ion-header collapse="condense">
    <ion-toolbar color="primary">
      <h6 class="resultados" slot="start">{{bikesCount}} <span *ngIf="bikesCount != 1">resultados</span><span *ngIf="bikesCount == 1">resultado</span></h6>
      <ion-menu-button color="light" slot="end" id="filter-menu">
        <ion-icon name="options" size="small"></ion-icon>
        <ion-text>
          <h6 style="margin-left: 4px;">Filtrar</h6>
        </ion-text>
      </ion-menu-button>
    </ion-toolbar>
  </ion-header>

  <!-------------------------------------------------------------------->
  <!-- LIST BIKES ------------------------------------------------------>
  <!-------------------------------------------------------------------->
  <ion-list lines="none">
    <ion-item *ngFor="let bike of bikes" (click)="bikeDetail(bike)">
      <ion-card>
        <img src="{{bike.image}}"/>
        <ion-card-header>
          <ion-card-title>{{bike.model}}</ion-card-title>
          <ion-card-subtitle>{{bike.brand}}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <h1>{{bike.price}}€</h1>
          <p>{{bike.year}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button href="/newBike">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
