<ion-header collapse="condense" style="margin-bottom: 10px;">
  <ion-toolbar>
  <ion-title>Añadir nueva moto</ion-title>
  <ion-icon name="close" color="primary" style="margin-left: 20px;" (click)="goBackHome(false)"></ion-icon>
  </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true">
  <form (ngSubmit)="submitAddBike()" id="addBikeForm" [formGroup]="addBikeForm">
  <ion-list>
  <ion-item>
  <!-- <label>
  <ion-icon name="camera-outline" class="cameraIcon"></ion-icon>
  <button aria-label="Imagen" style="display: none;" (click)="cameraImg()"></button>
  </label>
  <label>
  <ion-icon name="images-outline" class="cameraIcon"></ion-icon>
  <ion-input aria-label="Imagen" type="file" style="display: none;" formControlName="image"></ion-input>
  </label> -->
  <ion-input label="Imagen" labelPlacement="floating" placeholder="Link de la Imagen" formControlName="image"></ion-input>
  </ion-item>
  <ion-item lines="full">
  <ion-input label="Marca" labelPlacement="floating" placeholder="Marca" formControlName="brand"></ion-input>
  </ion-item>
  <ion-item lines="full">
  <ion-input label="Modelo" labelPlacement="floating" placeholder="Modelo" formControlName="model"></ion-input>
  </ion-item>
  <ion-item lines="full">
  <ion-input label="Año" type="number" labelPlacement="floating" placeholder="Año" formControlName="year"></ion-input>
  </ion-item>
  <ion-item lines="full">
  <ion-input label="Precio" labelPlacement="floating" type="number" placeholder="Precio" formControlName="price"></ion-input>
  </ion-item>
  </ion-list>
  </form>
  </ion-content>
  <ion-footer>
  <ion-button expand="block" type="submit" shape="round" class="addBike" form="addBikeForm" [disabled]="addBikeForm.invalid">Añadir moto</ion-button>
  </ion-footer>
  